/* -------------------------------- 

Primary style

-------------------------------- */

body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  background-color: #1d2120;
}

img {
  max-width: 100%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 28px;
    line-height: 20px;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}


/* -------------------------------- 

Main components 

-------------------------------- */
#cd-timeline {                /*vert line full page instead of screen*/
  position: relative;
  padding: 2em 0;
  margin-top: 3em;
  margin-bottom: 3em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  height: 96%;
  width: 4px;
  background: #5a5c51;
}

.cd-timeline-block {        /*round img separated*/
  position: relative;
  margin: 4em 0;
}
.cd-timeline-block:after {    /*news sections separate*/
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}


.cd-timeline-img {
  position: absolute;
  top: 10;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #5a5c51, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);  /*inset-inner shadow*/
}
.cd-timeline-img img {
  display: block;
  width: 118px;
  height: 118px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -59px;
  margin-top: -59px;
}


.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
  font-size: 18px;
  /*font-size: 1.25rem;*/
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 14px;
/*  font-size: 1rem;
*/}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #5a5c51;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}


  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 142%;
    top: 6px;
    font-size: 18px;
    /*font-size: 1rem;*/
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 142%;
    text-align: right;
  }

  .cd-timeline-block:nth-child(odd) .mybutton:nth-child(odd) {
    float: right;
    color: red;
  }

  .cd-timeline-block:nth-child(even) .mybutton:nth-child(odd) {
    /*float: 
    left;*/
    color: red;
  }


  #spritz-div {
    width: 800px;
    height: 350px;
    top: 100px;
    left: 220px;
    background-color: grey;
    /*position: absolute;*/
    position:fixed;
    z-index: 20;

  }
  
  #spritz-close {
    position: relative;
    top:5px;
    left: 5px;
  }

  #spritz-text {
    /*size : 300%;*/
    font-size: 80px;
    color: red;
  }

  #spritz-button {
    margin-top:30px;
  }

  #slider {
    width: 80%;
    margin-top: 20px;
  }

  #wpm {
    font-size: 25px;
    color:black;
    /*margin-top: 30px;*/
  }

  #wpm-div {
    margin-top: 20px;
  }
  

.overlay {
    background: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    opacity: 0.80;
    display: none;
  }

li {
font-size: 20px;

}
  




